@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #416840;
  --color-on-primary: #ffffff;
  --color-primary-container: #c3e5bb;
  --color-on-primary-container: #002104;
  --color-secondary: #7fae7a;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #cfe7c8;
  --color-on-secondary-container: #111f0e;
  --color-tertiary: #386568;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #bcebe9;
  --color-on-tertiary-container: #002021;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #410002;
  --color-background: #f4fbf1;
  --color-on-background: #161d15;
  --color-surface: #f4fbf1;
  --color-on-surface: #161d15;
  --color-surface-variant: #dbe5d6;
  --color-on-surface-variant: #40493e;
  --color-outline: #70796d;
  --color-outline-variant: #c0c9bb;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverse-surface: #2b322a;
  --color-inverse-on-surface: #ecf3e8;
  --color-inverse-primary: #a8c9a0;
  --color-primary-fixed: #c3e5bb;
  --color-on-primary-fixed: #002104;
  --color-primary-fixed-dim: #a8c9a0;
  --color-on-primary-fixed-variant: #2a4f2b;
  --color-secondary-fixed: #cfe7c8;
  --color-on-secondary-fixed: #111f0e;
  --color-secondary-fixed-dim: #b4cbac;
  --color-on-secondary-fixed-variant: #3c4b37;
  --color-tertiary-fixed: #bcebe9;
  --color-on-tertiary-fixed: #002021;
  --color-tertiary-fixed-dim: #a0cfcd;
  --color-on-tertiary-fixed-variant: #1e4d50;
  --color-surface-dim: #d5dcd2;
  --color-surface-bright: #f4fbf1;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff6eb;
  --color-surface-container: #e9f0e6;
  --color-surface-container-high: #e3eae0;
  --color-surface-container-highest: #dee5db;

  --font-headline: 'EB Garamond', serif;
  --font-body: 'Inter', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--color-surface); /* #f4fbf1 Paleta de Verdes Huecko */
  color: var(--color-on-surface); /* #161d15 */
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.ambient-shadow {
  box-shadow: 0px 10px 30px rgba(65, 104, 64, 0.05);
}

.glow-effect {
  box-shadow: inset 0 0 12px rgba(168, 201, 160, 0.4);
}

